.hero-banner {
    max-height: 26.75rem;
    overflow: hidden;
    position: relative;

    @include respond(tablet) {
        max-height: none;
    }

    .wp-block-columns {
        min-height: 25rem;

        @include respond(tablet) {
            max-height: 45rem;

            body.home & {
                height: 100vh;
            }
        }
    }

    .wp-block-buttons {
        justify-content: center;
        position: relative;
        z-index: 1;

        @include respond(tablet) {
            justify-content: unset;
        }

        .wp-block-button__link {
            line-height: 1rem;

            @include respond(tablet) {
                line-height: 1.5rem;
            }
        }
    }

    h1 {
        @include lines(2);
        margin-top: 5rem;
        margin-bottom: 0;
        position: relative;
        text-align: center;
        z-index: 1;

        @include respond(tablet) {
            margin-top: 0;
            text-align: left;
        }

        .spintax {
            @include lines(2);
        }
    }

    p {
        text-align: center;

        @include respond(tablet) {
            text-align: left;
        }
    }

    .hero-blob {
        opacity: 0.25;
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -6.25rem;
        height: 100%;
        width: calc(100% + 12.5rem);
        z-index: 0;

        @include respond(tablet) {
            top: -9.375rem;
            bottom: unset;
            left: unset;
            right: 0;
            width: 31.25rem;
        }

        @include respond(laptop) {
            width: 43.75rem;
        }

        .blob-animated {
            animation: none;
            border-radius: 0;
            object-fit: cover;
            object-position: bottom center;
            height: 100%;
            width: 100%;
            min-height: 26.75rem;

            @include respond(tablet) {
                animation: blob-hero-animated 15s linear infinite alternate;
                border-radius: 48% 0% 0% 48% / 44% 0% 0% 56%;
                height: 100vh;
                min-height: 56.25rem;
            }
        }

        &.wp-block-column {
            img {
                @extend .blob-animated;
            }
        }
    }
}

@keyframes blob-hero-animated {
    0% {
        border-radius: 48% 0% 0% 48% / 44% 0% 0% 56%;
    }
    33% {
        border-radius: 52% 0% 0% 43% / 56% 0% 0% 44%;
    }
    66% {
        border-radius: 70% 0% 0% 50% / 80% 0% 0% 40%;
    }
    100% {
        border-radius: 48% 0% 0% 48% / 44% 0% 0% 56%;
    }
}
